$font-basic: 'Space Grotesk', sans-serif;
$font-size-basic: 24px;
$font-weight-basic: 300;
$color-bg-main: #1b191c;
$color-bg-gray: #eeeeee;
$color-orange: #f8d231;
$font-color-dark: #000;
$font-color-white: #eeeeee;
$font-color-dark-gray: #cfd3d6; //636367
$font-color-input-gray: #a4a3a4;
$container-width-base: 1440px;
$title-width-base: 48px;
