$font-basic: 'Space Grotesk', sans-serif;
$font-size-basic: 24px;
$font-weight-basic: 300;
$color-bg-main: #1B191C;
$color-bg-gray: #EEEEEE;
$color-orange: #F8D231;
$font-color-dark: #000;
$font-color-white: #EEEEEE;
$font-color-dark-gray: #CFD3D6; //636367
$font-color-input-gray: #A4A3A4; 
$container-width-base: 1440px;
$title-width-base: 48px;